<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Containers</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{docker_info.Containers}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-server fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Images</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{docker_info.Images}}</div>
          </div>
          <div class="col-auto">
            <i class="far fa-clone fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" ng-controller="volumesController">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Volumes</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{volumes.length}}</div>
          </div>
          <div class="col-auto">
            <i class="far fa-hdd db-icon fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" ng-controller="networksController">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Networks</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{networks.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-network-wired fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4" ng-controller="aboutController">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Basic System Info</h6>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Server Name</td>
          <td>
            {{docker_info.Name}}
            <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
        <tr>
          <td>Server Version</td>
          <td>
            {{docker_version_info.Version}}
            <span ng-hide="loaded_version"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
        <tr>
          <td>OS</td>
          <td>
            {{docker_info.OperatingSystem}}
            <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
        <tr>
          <td>CPUs Number</td>
          <td>
            {{docker_info.NCPU}}
            <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
        <tr>
          <td>Memory Total</td>
          <td>
            {{docker_info.MemTotal | Filesize}}
            <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
        <tr>
          <td>Build Time</td>
          <td>
            {{docker_version_info.BuildTime | date: 'dd MMMM yyyy HH:mm'}}
            <span ng-hide="loaded_version"><img src="../assets/images/loader-small.gif"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>