<div style="margin-bottom: 70px;">
  <h2>Container Info</h2>
  <table class="table table-bordered" width="100%" cellspacing="0">
    <thead class="thead-light">
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>
          {{container_info.Id}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          {{container_info.Name}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Image</td>
        <td>
          {{container_info.Config.Image}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Hostname</td>
        <td>
          {{container_info.Config.Hostname}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Created</td>
        <td>
          {{container_info.Created | date: 'dd MMMM yyyy HH:mm'}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Running</td>
        <td>
          {{container_info.State.Running}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>StartedAt</td>
        <td>
          {{container_info.State.StartedAt | date: 'dd MMMM yyyy HH:mm'}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>PublishAllPorts</td>
        <td>
          {{container_info.HostConfig.PublishAllPorts}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Links</td>
        <td>
          {{container_info.HostConfig.Links}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>OpenStdin</td>
        <td>
          {{container_info.Config.OpenStdin}}
          <span ng-hide="loaded_info"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="margin-bottom: 70px;">
  <h2 class="float-left">Container Processes
    <button title="Show More" ng-show="limit==5" ng-click="limit=container_processes.Processes" class="btn btn-primary btn-circle"><i class="fas fa-caret-down"></i></button>
    <button title="Hide" ng-show="limit!=5" ng-click="limit=5" class="btn btn-danger btn-circle"><i class="fas fa-caret-up"></i></button>
  </h2>

  <table class="table table-bordered" width="100%" cellspacing="0" ng-init="limit=5">
    <thead class="thead-light">
      <tr>
        <th>UID</th>
        <th>PID</th>
        <th>PPID</th>
        <th>C</th>
        <th>STIME</th>
        <th>TTY</th>
        <th>TIME</th>
        <th>CMD</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="process in container_processes.Processes | limitTo : limit">
        <td>{{process[0]}}</td>
        <td>{{process[1]}}</td>
        <td>{{process[2]}}</td>
        <td>{{process[3]}}</td>
        <td>{{process[4]}}</td>
        <td>{{process[5]}}</td>
        <td>{{process[6]}}</td>
        <td>{{process[7]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="margin-bottom: 70px;">
  <h2 class="float-left">Resources Usage
    <button title="Refresh Usage" ng-click="refresh_container()" class="btn btn-primary btn-circle"><i class="fas fa-sync"></i></button>
  </h2>

  <table class="table table-bordered" width="100%" cellspacing="0">
    <thead class="thead-light">
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total CPU Usage</td>
        <td>
          {{cpu_percent | limitTo:4}} <span ng-hide="!loaded_stats">%</span>
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>CPU Usage in Kernel Mode</td>
        <td>
          {{container_stats.cpu_stats.cpu_usage.usage_in_kernelmode}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>CPU Usage in User Mode</td>
        <td>
          {{container_stats.cpu_stats.cpu_usage.usage_in_usermode}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>System CPU Usage</td>
        <td>
          {{container_stats.cpu_stats.system_cpu_usage}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Online CPUs</td>
        <td>
          {{container_stats.cpu_stats.online_cpus}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Memory Usage</td>
        <td>
          {{container_stats.memory_stats.usage | Filesize}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Max Memory Usage</td>
        <td>
          {{container_stats.memory_stats.max_usage | Filesize}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
      <tr>
        <td>Memory Limit</td>
        <td>
          {{container_stats.memory_stats.limit | Filesize}}
          <span ng-hide="loaded_stats"><img src="../assets/images/loader-small.gif"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>