<!DOCTYPE html>
<html lang="en" ng-app="docker-dashboard" ng-controller="siteController">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/images/favicon.png">

  <title>Docker Management Tool</title>

  <!-- Bootstrap core CSS -->
  <!--   <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="assets/css/sb-admin-2.min.css" />

  <!-- Toastr CSS -->
  <link rel="stylesheet" href="//unpkg.com/angular-toastr/dist/angular-toastr.css" />

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Angular Confirm -->
  <link rel="stylesheet" href="assets/css/angular-confirm.css" />

</head>

<body class="page-top">
  <div ng-if="!check_login()">
    <div ng-include="'login.html'"></div>
  </div>
  <div ng-if="check_login()">
    <div ng-include="'dashboard.html'"></div>
  </div>
</body>

<!-- Bootstrap core JavaScript
  ================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/xeditable.min.js"></script>
<script src="assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script src="controllers/siteController.js"></script>
<script src="controllers/containersController.js"></script>
<script src="controllers/singleContainerController.js"></script>
<script src="controllers/imagesController.js"></script>
<script src="controllers/singleImageController.js"></script>
<script src="controllers/networksController.js"></script>
<script src="controllers/aboutController.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<script>
  window.jQuery || document.write('<script src="docs/assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="//unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="assets/js/sb-admin-2.js"></script>

<!-- AngularJS Pagination -->
<script src="assets/js/dirPagination.js"></script>

<!-- AngularJS Confirm -->
<script src="assets/js/angular-confirm.js"></script>

<script>
  var app = angular.module("docker-dashboard", ["ngRoute", "xeditable", "ui.bootstrap", "toastr", "angularUtils.directives.dirPagination",
    "cp.ngConfirm"]);

  app.controller('siteController', SiteController);
  app.controller('containersController', ContainersController);
  app.controller('singleContainerController', SingleContainerController);
  app.controller('imagesController', ImagesController);
  app.controller('singleImageController', SingleImageController);
  app.controller('networksController', NetworksController);
  app.controller('aboutController', AboutController);

  app.config(function ($routeProvider) {
    $routeProvider
      .when("/", {
        templateUrl: "views/start.html",
        controller: "siteController"
      })
      .when("/containers", {
        templateUrl: "views/containers.html",
        controller: "containersController"
      })
      .when("/containers/:id", {
        templateUrl: "views/singleContainer.html",
        controller: "singleContainerController"
      })
      .when("/images", {
        templateUrl: "views/images.html",
        controller: "imagesController"
      })
      .when("/images/:id", {
        templateUrl: "views/singleImage.html",
        controller: "singleImageController"
      })
      .when("/networks", {
        templateUrl: "views/networks.html",
        controller: "networksController"
      })
      .when("/about", {
        templateUrl: "views/about.html",
        controller: "aboutController"
      })
  });

  app.filter('Filesize', function () {
    return function (size) {
      if (isNaN(size))
        size = 0;

      if (size < 1024)
        return size + ' Bytes';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(2) + ' KB';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(2) + ' MB';

      size /= 1024;

      if (size < 1024)
        return size.toFixed(2) + ' GB';

      size /= 1024;

      return size.toFixed(2) + ' TB';
    };
  });

  app.run(function ($rootScope) {
    $rootScope.Utils = {
      set_config_var: function () {
        $rootScope.config = {
          headers: {
            'Authorization': 'Basic d2VudHdvcnRobWFuOkNoYW5nZV9tZQ==',
            'Accept': 'application/json;odata=verbose',
            "JWT": localStorage.getItem('user')
          }
        };
      },
      calculate_cpu_percent: function (data) {
        cpu_count = data.cpu_stats.cpu_usage.percpu_usage.length;
        cpu_percent = 0.0;
        cpu_delta = data.cpu_stats.cpu_usage.total_usage - data.precpu_stats.cpu_usage.total_usage;
        system_delta = data.cpu_stats.system_cpu_usage - data.precpu_stats.system_cpu_usage;

        if (system_delta > 0.0) {
          cpu_percent = cpu_delta / system_delta * 100.0 * cpu_count;
        }
        return cpu_percent;
      },
      split_string: function (str) {
        return str.split(':')[1];
      }
    }
  });
</script>

</html>